* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
body {
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}
  
.container {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
  
.tabs {
    display: flex;
    margin-top: 2rem;
}
  
.tabs button {
    flex: 1;
    padding: 0.7rem;
    background: #eee;
    color:  rgb(160, 183, 233);
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
  
.tabs button.active {
    background:  rgb(160, 183, 233);
    color: white;
}
  
.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
  
.form input {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.form h2 {
    color:  rgb(160, 183, 233);
    text-shadow: 2px 2px 2px rgb(177, 173, 173);
}
  
.form button {
    width: 50%;
    padding: 0.7rem;
    background: rgb(160, 183, 233);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 1rem auto 0 auto;
    display: block;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 15px rgb(134, 178, 235);
}
  
.form button:hover {
    background: #fff;
    color:  rgb(160, 183, 233);
    transform: scale(1.05);
    box-shadow: 0 8px 25px  rgb(134, 178, 235);
}
  
.success {
    margin-top: 0.5rem;
    display: none;
    align-items: center;
    gap: 0.5rem;
    background: #f5faf5;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: green;
}
  
.hidden {
    display: none;
}
 
/* responsive */
@media (max-width: 500px) {
    .container {
      padding: 1.5rem;
    }
}
  
  .popup-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: #f3faf3;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: green;
    font-size: 1.2rem;
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;
  }
  
  .popup-success.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .checkmark {
    font-size: 3rem;
    animation: pop 0.4s ease;
    margin-bottom: 0.5rem;
  }
  
  @keyframes pop {
    0% {
      transform: scale(0);
    }
    60% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }